body {
  background-color: #001212;
  width: 100%;
  width: 100vh;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: fill 0.5s ease forwards 2.5s; */
  /* transform: scale(3); */
  /* transform: rotate(-25deg); */
}

#logo path:nth-child(1) {
  stroke-dasharray: 1939px;
  stroke-dashoffset: 1939px;
  animation: lineAnimation2 2.5s ease-in-out forwards 1.2s;
}

#logo path:nth-child(2) {
  stroke-dasharray: 1939px;
  stroke-dashoffset: 1939px;
  animation: lineAnimation 2s ease-in forwards 1.2s;
}

@keyframes lineAnimation {
    80%{
        fill: transparent;
      }
  to {
    stroke-dashoffset: 0;
    fill: #FA7268;
  }
  
}

@keyframes lineAnimation2 {
    80%{
        fill: transparent;
      }
  to {
    stroke-dashoffset: 0;
    fill: #C62368;
  }
  
}


/* @keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
} */

