.footer {
  background-image: url("../assets/backgorundWavesExit.svg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
}

.form h2 {
  font-size: 60px;
  margin-bottom: 0;
  width: fit-content;
  /* background: linear-gradient(185deg, #fa7268, #c62368);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.inputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.input {
  margin-top: 30px;
  height: 40px;
  font-size: 22px;
}

.subject,
.textArea {
  grid-column: 1/3;
}

.textArea {
  margin-top: 30px;
  font-size: 22px;
  resize: none;
}

.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 16px;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
  position: relative;
}

.btn span {
  transition: all 0.3s;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn:hover span {
  letter-spacing: 2px;
}
.btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* @media (max-height: 800px) {
  .form h2 {
    color: white;
    -webkit-text-fill-color: white;
  }
} */

@media (max-width:700px) {
    .input{
        grid-column: 1/3;
    }
}