.projectContainer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.projectIframe {
  border: solid;
  border-radius: 10px;
  width: 50%;
}

.projectDescription {
  width: 30vw;
  text-align: justify;
}

.projectDescription h2 {
  font-size: 30px;
}

.projectDescription p {
  font-size: 16px;
}

.projectContainerSwitchSides {
  flex-direction: row-reverse;
}

@media (max-width: 850px) {
  .projectContainer {
    flex-direction: column;
    gap: 50px;
  }
  .projectDescription {
    width: 80%;
  }
  .projectIframe {
    width: 100%;
  }
}
