.projectContainer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.projectIframe {
  border: solid;
  border-radius: 10px;
  width: 50%;
}


.projectImage img{
  border-radius: 5%;
}

.projectImageTitle{
  position: absolute;
  color: white;
  width: 150px;
  padding-left: 40px ;
}

.projectImageTint{
  position: absolute;
  border-radius: 5%;
  height: 560px;
  width: 390px;
  background-color: black;
  opacity: 0.5;
}

.projectImage:hover{
  opacity: 0.5;
  transition: opacity 1s;
  border-radius: 5%;

}


.projectDescription {
  width: 30vw;
  text-align: justify;
}

.projectDescription h2 {
  font-size: 30px;
}

.projectDescription p {
  font-size: 16px;
}

.projectContainerSwitchSides {
  flex-direction: row-reverse;
}

@media (max-width: 850px) {
  .projectContainer {
    flex-direction: column;
    gap: 50px;
  }
  .projectDescription {
    width: 80%;
  }
  .projectIframe {
    width: 100%;
  }
}
